<app-navbar></app-navbar>
<div class="container-fluid px-0">
    <!-- kitchen dashboard items -->
    <section class="d-flex row mt-2 mb-5 mx-0 flex-lg-row">
       <div class="col-12 px-3 pt-3">
           <div class="row row-cols-lg-4 row-cols-1 gy-2 mx-auto">
               <!-- Today KOT-->
               <div class="col pe-lg-4">
                   <div class="row">
                       <div class="col-12 rounded-2 bg-success p-4 text-white">
                           <div class="row">
                               <div class="col-3">
                                   <i class="bi bi-pie-chart-fill text-white-50 fs-1"></i>
                               </div>
                               <div class="col-9">
                                   <span class="fw-bold fs-5">Today KOT</span><br>
                                   <span class="fs-5 fw-bold">120</span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!-- Monthly KOT-->
               <div class="col pe-lg-4">
                   <div class="row">
                       <div class="col-12 rounded-2 bg-primary p-4 text-white">
                           <div class="row">
                               <div class="col-3">
                                   <i class="bi bi-bar-chart-fill text-white-50 fs-1"></i>
                               </div>
                               <div class="col-9">
                                   <span class="fw-bold fs-5">Monthly KOT</span><br>
                                   <span class="fs-5 fw-bold">4005</span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!-- Total Items-->
               <div class="col pe-lg-4">
                   <div class="row">
                       <div class="col-12 rounded-2 bg-warning p-4 text-white">
                           <div class="row">
                               <div class="col-3">
                                   <i class="bi bi-bar-chart-steps text-white-50 fs-1"></i>
                               </div>
                               <div class="col-9">
                                   <span class="fw-bold fs-5">Total Items</span><br>
                                   
                                   <span class="fs-5 fw-bold">
                                       50
                                   </span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!-- Stock Alerts-->
               <div class="col pe-lg-4">
                   <div class="row">
                       <div class="col-12 rounded-2 bg-danger p-4 text-white">
                           <div class="row">
                               <div class="col-3">
                                   <i class="bi bi-backspace-reverse-fill text-white-50 fs-1"></i>
                               </div>
                               <div class="col-9">
                                   <span class="fw-bold fs-5">Stock Alets</span><br>
                                   
                                   <span class="fs-5 fw-bold">
                                       5
                                   </span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="row row-cols-lg-4 row-cols-1 gy-2 mx-auto my-1">
               <!-- Today KOT-->
               <div class="col pe-lg-4">
                   <div class="row">
                       <div class="col-12 rounded-2 bg-info p-4 text-white">
                           <div class="row">
                               <div class="col-3">
                                   <i class="bi bi-pie-chart-fill text-white-50 fs-1"></i>
                               </div>
                               <div class="col-9">
                                   <span class="fw-bold fs-5">Today KOT</span><br>
                                   <span class="fs-5 fw-bold">120</span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!-- Monthly KOT-->
               <div class="col pe-lg-4">
                   <div class="row">
                       <div class="col-12 rounded-2 bg-dark p-4 text-white">
                           <div class="row">
                               <div class="col-3">
                                   <i class="bi bi-bar-chart-fill text-white-50 fs-1"></i>
                               </div>
                               <div class="col-9">
                                   <span class="fw-bold fs-5">Monthly KOT</span><br>
                                   <span class="fs-5 fw-bold">4005</span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!-- Total Items-->
               <div class="col pe-lg-4">
                   <div class="row">
                       <div class="col-12 rounded-2 bg-primary p-4 text-white">
                           <div class="row">
                               <div class="col-3">
                                   <i class="bi bi-bar-chart-steps text-white-50 fs-1"></i>
                               </div>
                               <div class="col-9">
                                   <span class="fw-bold fs-5">Total Items</span><br>
                                   
                                   <span class="fs-5 fw-bold">
                                       10
                                   </span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <!-- Expire Alerts-->
               <div class="col pe-lg-4">
                   <div class="row">
                       <div class="col-12 rounded-2 bg-secondary p-4 text-white">
                           <div class="row">
                               <div class="col-3">
                                   <i class="bi bi-exclamation-circle-fill text-white-50 fs-1"></i>
                               </div>
                               <div class="col-9">
                                   <span class="fw-bold fs-5">Expire Alerts</span><br>

                                   <span class="fs-5 fw-bold">
                                      10
                                   </span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>

   
